body {
    background: white url("images/background.png") no-repeat;
    background-position: center bottom;
    background-size: 15%;
    height: 500px;
}

title{
    color: #c80;
    font-weight: bold;
}

li a {
    color: green;
}

